.store {
  min-height: 100vh;
  background-color: #444;
  padding: 10px;
}
.store__wrapper {
  width: 100%;
  min-height: 70vh;
  /* border: 2px solid gold; */
}
.store__title {
  text-align: center;
  color: white;
  text-shadow: 0 0 3px black;
}
.store__list {
  padding: 0;
  margin: 0;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.store__item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  border: 2px solid grey;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.24);
  color: rgba(255,255,255,0.7);
  padding: 10px;
}
.store__item:hover {
  color: white;
}
.store__item-image {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}
.store__item-image img {
  max-width: 100%;
  transition: transform 0.3s;
}
.store__item-image img:hover {
  transform: scale(1.1);
}
.store__item-settings {
  /* border: 2px solid red; */
  margin-top: auto;
}
.store__count-wrapper {
  width: 100%;
  min-height: 50px;
  margin: auto 0 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.store__count-input {
  text-align: center;
}
.store__count-output {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid grey
}
.store__count-button {
  /* border: 2px solid blue; */
}
.store__count-total {
  /* border: 2px solid blue; */
  color: gold;
  text-shadow: 0 0 5px black;
  text-align: center;
  padding: 0 0 10px;
}
.store__button-buy {
  margin: 10px 0 0;
  padding: 10px 0;
  width: 100%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0; /* Заборонити відступи від стрілок */
  text-align: center;
}

.loader {
  width: 150px;
  height: 150px;
  background-color: #ff3d00;
  border-radius: 50%;
  position: relative;
  transform: translateX(100%) translateY(100%);
  box-shadow: 0 0 30px 4px rgba(0, 0, 0, 0.5) inset,
    0 5px 12px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 45%;
  top: -40%;
  background-color: #fff;
  animation: wave 5s linear infinite;
}
.loader:before {
  border-radius: 30%;
  background: rgba(255, 255, 255, 0.4);
  animation: wave 5s linear infinite;
}
@keyframes wave {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}