.main {
  width: 100%;
  min-height: calc(100vh - 40px);
  background: 85% 100% url('../../images/bg_desktop.jpg');
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -80px;
  padding: 0 40px;
  user-select: none;
}

.main__title,
.main__subtitle {
  position: relative;
  z-index: 1;
  animation: fadeInUp 1s ease-in-out forwards;
  background: linear-gradient(to bottom, #3498db 50%, #FFD700 50%);
  background-clip: text;
  color: transparent;
  text-shadow: 0 0 1px rgba(255,255,255,0.2);
  -webkit-text-stroke: 2px rgba(0,0,0,0.24);
  transition: 0.3s;
  opacity: 0;
}
.main__title.active,
.main__subtitle.active {
  opacity: 1;
}
.main__title {
  margin: 100px 0;
  font-size: calc(15px + 7vmin);
  text-align: center;
  animation-delay: 0.5s;
}
.main__subtitle {
  animation-delay: 1.5s;
  margin-top: 20px;
  align-self: flex-end;
  text-align: right;
}

.main__subtitle.subtitle__author-name {
  font-size: calc(30px + 5vmin);
}

.main__author-img {
  animation: glitch 0.8s infinite;
  position: absolute;
  z-index: 0;
  top: 90px;
  left: 20px;
  max-height: calc(100vh - 140px);
  max-width: calc(100% - 40px);
  border-radius: 10px;
  box-shadow: 0 0 30px 5px rgba(0,0,0,0.4);
  transition: 0.2s;
  cursor: pointer;
  
}

.main__author-img:hover {
  z-index: 1;
  box-shadow: 0 0 30px 5px rgba(255,255,255,0.15);
}




.modal {
  width: 100%;
  height: 100vh;
  min-height: calc(100vh - 120px);
  background-color: rgba(0,0,0,0.95);
  position: fixed;
  z-index: 2;
  display: grid;
  place-items: center;
  color: white;
}

.modal__wrapper {
  width: 95%;
  min-height: 80vh;
  padding: 30px;
  background-color: rgba(255,255,255,0.2);
  border-radius: 10px;
  backdrop-filter: blur(3px);
}

.modal__title {
  text-align: center;
  font-size: calc(10px + 4vmin);
}

.modal__content p {
  margin: 0;
  padding: 10px 0;
  text-align: justify;
  border-bottom: 2px solid grey;
}

.modal__close {
  border: none;
  outline: none;
  width: 50px;
  height: 38.5px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
}
.modal__close::before,
.modal__close::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transform-origin: 100% 0;
  
}


.modal__close::before {
  top: 0;
  transform: rotate(-45deg);
}
.modal__close::after {
  bottom: 0;
  transform: rotate(45deg);
  
}

.about {
  /* background: linear-gradient(to right, #673ab7, #512da8); */

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.about__image {
  height: 100vh;
  /* border: 2px solid red; */
  background: url('../../images/me.jpg') no-repeat 50% 60%;
  background-blend-mode: multiply;
  background-color: rgba(0,0,0,0.5);
  background-size: cover;
  backdrop-filter: blur(4px);
  position: relative;
}
.about__text {
  color: white;
  /* border: 2px solid red; */
  padding: 15px;
  text-align: center;
  display: grid;
  row-gap: 10px;
  grid-template-rows: 1fr 3fr 1fr;
}
.about__title {
  display: grid;
  place-items: center;
  font-size: calc(14px + 2.5vmin);
}
.about__description {
  display: grid;
  place-items: center;
  border: 2px solid white;
  border-radius: 10px;
}
.about__update-button {
  margin: 0 auto;
  width: 100%;
  border: 2px solid white;
  padding: 10px;
  border-radius: 15px;
}


@media (max-width: 500px) {
  .main__title {
    margin: 120px 0 40px;
    font-size: calc(15px + 5vmin);
  }
}

@media (max-width: 500px) {
  .about {
    grid-template-columns: 1fr;
  }

  .about__text {
    position: absolute;
    min-height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Початковий стан: невидимий та зсунутий вниз */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Завершальний стан: видимий та без зсуву */
  }
}

@keyframes glitch {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  25% {
    opacity: 0.8;
    transform: translateX(-5px);
  }
  50% {
    opacity: 1;
    transform: translateX(5px);
  }
  75% {
    opacity: 0.9;
    transform: translateX(-3px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}