* {
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.music {
  width: 100%;
  min-height: 100vh;
  background: url('bg1.jpg') 45% 50%;
  background-size: cover;
}

.music__wrapper {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to right, rgba(81,45,168,0.4), rgba(103,58,183,0.1));
  backdrop-filter: blur(4px);
}
.music__title {
  font-size: calc(10px + 7vmin);
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.24);
  color: white;
  height: 80px;
  margin: 0;
}